body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-decoration: underline;
  margin: 5px;
  margin-top: 25px;
}

div {
  display: inline-block;
  margin: 5px;
}

p {
  margin: 10px;
  font-size: small;
}

svg {
  border: 1px solid black;
}
